@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #e5e7eb;
}

/* Loading CSS */
.body-loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 51, 99, 0.5);
}

.none {
  display: none;
}

/* Utilities */

.btn {
  border-radius: 6px;
  padding: 8px;
}
.btn-sm {
  padding: 8px 12px;
}
.btn-md {
  padding: 8px 16px;
}

.btn-primary {
  background: #003363;
}
.btn-primary:hover {
  background: #00509b;
}

.date-published .line {
  content: '';
  position: absolute;
  width: 2px;
  height: 50px;
  top: -11.5px;
  left: -35px;
  background: #d4d4d8;
  transform: rotate(90deg);
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #00509b;
  border-radius: 5px;
}

.nav-menu {
  top: -500px;
  transition: all 200ms ease;
  z-index: 20;
}
.nav-menu.show {
  top: 0;
  transition: all 200ms ease;
}
.active {
  background: #b91c1c;
  font-weight: 500;
  transition: all 200ms ease;
}
.nav-link:hover {
  background: #b91c1c;
  transition: background 200ms ease-in-out;
  border-radius: 4px;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
.overlay.show {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  animation: fadeIn 300ms;
}

.instagram,
.youtube,
.facebook,
.twitter,
.whatsapp,
.telegram {
  fill: white;
}
.instagram-hover:hover,
.youtube-hover:hover {
  transform: scale(110%);
}
.fill-blue {
  fill: #003363;
}
.fill-white {
  fill: #fff;
}

/* Article */
.article-table .card {
  padding: 0;
}

.article-content .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin: 0 auto;
}

.article-content .video-container .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Modal */
.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
.modal .modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.card.card-wrapper {
  padding: 0;
}

.user-details {
  bottom: 0;
}

.dropdown-content {
  top: 45px;
  display: none;
  animation: fadeIn 300ms;
}
.dropdown-content.show {
  display: block;
  animation: fadeIn 0.3s;
}
.dropdown {
  justify-content: start;
}
.icon-sosmed-wrapper {
  width: 0px;
  left: 0px;
  opacity: 0;
  transition: all 300ms;
}
.icon-sosmed-wrapper .icon-sosmed-content {
  margin-top: 2px;
  display: none;
  opacity: 0;
  animation: fadeIn 300ms;
}

.icon-sosmed-wrapper.show {
  left: -12px;
  width: 195px;
  opacity: 1;
  transition: all 300ms;
}
.icon-sosmed-wrapper.show .icon-sosmed-content {
  display: flex;
  opacity: 1;
}

.panca-niat span {
  font-weight: bold;
}

.content {
  display: none;
}
.content.active-content {
  display: block;
  animation: fadeIn 300ms;
}

.custom-file-input {
  opacity: 0;
}
.file-input label {
  background-color: #003363;
  color: white;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}
/* .file-input:hover label {
  background-color: #00509b;
} */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload Foto';
}
.custom-file-input:hover::before {
  background-color: #00509b;
}

/* middle device up */
@media (min-width: 768px) {
  .nav-menu {
    display: flex;
    top: 0;
  }
  .overlay {
    display: none;
  }
  .card-wrapper .user-pic {
    transition: all 300ms ease;
  }

  .user-details {
    bottom: -100%;
    transition: all 300ms ease;
  }

  .card-wrapper:hover .user-pic {
    transform: scale(1.1) rotate(5deg);
  }

  .card-wrapper:hover .user-details {
    bottom: 0;
  }

  .article-content .video-container {
    position: relative;
    max-width: 560px;
    max-height: 315px;
    width: 100%;
    height: 315px;
    margin: 0 auto;
    padding-bottom: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
